.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  display: flex;
  background-color: #faf5f2;
  overflow: visible;
  width: 100%;
}

.App-title {
  text-align: center;
  font-size: 30px;
  color: #53a7c7;
  font-family: 'Permanent Marker', cursive;
  margin: 3px;
} 

.Messages-list-wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 0;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;

}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: orangered;
}

.Login {
  display: flex;
  flex-direction: column;
  background-color: #dcd4cc;
  align-items: center;
  padding: 15px;
}

.Hero-headline {
/*   font-family: 'Inter', sans-serif; */
  font-family: 'Permanent Marker', cursive;
  font-size: 32px;
  color: #53a7c7;
  margin: 5px;
}

.Hero-description {
     font-family: 'Inter', sans-serif; 
    font-size: 14px;
    color: #7c5842;
    margin: 5px;
    text-align: justify;
    display:inline-block;
   width:50%;
  }

.Name-selector {
  margin: 40px;
  display: flex;
  flex-direction: column;
  background-color: #dcd4cc;
  align-items: center;
}

.Avatar-selector {
  display: flex;
  margin: 20px;
  background-color: #dcd4cc;
}

.Avatar-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Room {
  background-color: #dcd4cc;
}

.avatar-image {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  border: 1px solid #53a7c7;
  flex-grow: 1;
  text-align: center;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #53a7c7;
  font-family: 'Inter', sans-serif;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

input[type="radio"] {
 
  -webkit-appearance: none;
  margin: 0;
  font: inherit;
  color: #53a7c7;
  width: 1.00em;
  height: 1.00em;
  border: 0.10em solid;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #53a7c7;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid #53a7c7;
  outline-offset: max(2px, 0.15em);
}